.app{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.btn__enter{
    padding: 20px 80px;
    border: none;
    border-radius: 45px;
    font-size: 22px;
    cursor: pointer;
}
.btn__enter:hover{
    transition: 1.1s;
    background: black;
    color: white;
    box-shadow: 4px 8px 16px 0 rgb(92, 122, 133);
}
